



*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}


html{

    border: 20px solid powderblue;
}




header{
    border: 2px dashed black;
    
    text-align: center;
    font-size: medium;




}

.small-profile-img{
    border: 3px;
    border-radius: 67%;
    
}

.about-me-column-2{

    width: 40%;

    /*make all the elements inside a container */
    float: left;
    height: 600px;
    border: 2px dashed black;
    border-radius: 3%;
    /*create an space between the elements */

    margin:  10px;

    /*create an space between an element and its border */
    padding: 15px;



}

/* it is used to select a children of a part element */

section>h1{
    background-color: powderblue;

    text-align: center;
}
#about-me-column-21{

    background-color: powderblue;
}
#about-me-column-22{
    background: url(../html/cssphoto.jpg);
    background-size: cover;

}

section{
    /* remove the effects caused by "float" from other elements */
    clear: both;

}



footer{
    clear:both;
    
}
.footer-icon-style{

    width: 30px;
    height: 30px;
}
.experience-table-style {
    border-spacing: 90px;
}

.table, tr, td{
    border: 1px solid powderblue;

}
#experience-section>table> tr, td {
    padding: 40px;
    border: 2px solid powderblue;
}
/* :nth-child(odd) is used to select all odd children elements of a type*/
/* :nth-child(even) is used to select all odd children elements of a type*/

tr:nth-child(odd){
    background-color: powderblue;
}

.footer-content-left{
    float: left;
}

.footer-content-right{
    float: right;
    font-size: 40px;
}

a{
    padding: 20px;
    transition: all 1s linear;
}

a:hover{
    font-size: 50px;
}

.my-projects-column-4 {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
