
*{
    font-family: fantasy;
    /* in order to make our text more responsive to size change of our viewport, 
    we have to use a relative unit not absolute unit like px.
    In this case, we use the view port as our unified reference.
    "2vw is equal to 2% of the width of the viewport
    vw stands for 
    */
    font-size: 2vw;
}

div{
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: black 2px 2px;
    margin: 1vw;
    width: fit-content;
    position: relative;
    padding: 1rem;
}
div:nth-child(odd){
    right: 3vw;
}
h2{
    background-color: powderblue;
    border: 2px solid black;
    width: fit-content;
    position: sticky;
    /* The following parameters are used to control the position of this elements with respect to the viewport
    The position of the top border of this element*/
    top: 2px;
    left: auto;
    right: auto;
    bottom: auto;
}

.poem-images{
    width: 5vw;
    border-radius: 1vw;
    /*the absolute remove the element from its nomral flow on the page
    the browser then looks for it the closest container which is not static,
    if there is no such parent element, the html element be selected as its
    container element*/
    position: absolute;
    /*use the following atributes to determine the absolute positioning eleement's
    position relative to its closest non static container*/
    top: 0;
    right: 0;
    
}
